<h1>Employee: <%= @employee.name %></h1>
<p>Name:<%= @employee.name %></p>
<p>Email:<%= @employee.email %></p>
<p>Password:<%= @employee.password %></p>
<p><%= link_to 'Edit', edit_employee_path(@employee) %></p>
<p> <%= link_to 'Delete', employee_path(@employee), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></p>
<p><%= link_to 'Return to employees', employees_path %></p>