<% if @status.errors.any?%>
    <ul>
        <% @status.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>
<%= form_with(model: @status, local: true) do |f| %>
  <p>
    <%= f.label :github_pr_link %> <br>
    <%= f.text_field :github_pr_link %>        
  </p>
  <p>
    <%= f.label :Date %> <br>
    <%= f.datetime_local_field :date %> 
  </p>
  <% if current_user.admin? %>
  <p>
    <%= f.label :Remarks %> <br>
    <%= f.text_area :remarks %>
  </p>
  <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
