<% if @status.errors.any? %>
  <ul>
    <% @status.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="bg-[#C1DFFF] w-full h-screen flex justify-center item-center">
  <%= form_with(model: @status, :html => { :style => 'display:flex; justify-content: center; align-items: center; flex-direction: column;' }, local: true) do |f| %>
    <% unless admin? %>
      <div class="mb-4">
        <%= f.text_field :github_pr_link, placeholder: "Github PR link", class: "block text-[#112A46] text-md font-bold mb-2 rounded-lg text-center" %>        
      </div>
      <div>
        <%= f.datetime_local_field :date, class:"rounded-lg" %> 
      </div>
    <% end %>
      <div>
          <% if admin? %>
            <%= f.fields_for :remarks do |builder| %>
              <%= builder.label :description%>
              <%= builder.text_field :description, placeholder: "Remark Description", class: "block text-[#112A46] text-md font-bold mb-2 rounded-lg text-center" %>
            <% end %>
          <% end %>
      </div>
    <div class="mt-4">
      <%= f.submit (@status.new_record? ? "Create Status" : "Edit Status"), class: "bg-[#112A46] text-[#F5F5F5] font-bold py-2 px-4 rounded  hover:bg-[#F5F5F5] hover:text-[#112A46] ml-2" %>
    </div>
  <% end %>
</div>
