<h1>Status: <%= @status.id %></h1>
<p>Github PR:<%= link_to "#{@status.github_pr_link}", @status.github_pr_link %></p>
<p>Date:<%= @status.date %></p>
<p>Remarks:<%= @status.remarks %></p>
<% if current_user.admin? %>
    <p><%= link_to 'Add remarks', edit_status_path(@status) %></p>
<% else %>
<p><%= link_to 'Edit', edit_status_path(@status) %></p>
<% end %>
<br>
<hr>
    <h2>Showing Tasks</h2>
<% @status.tasks.each do |task| %>
    <div>
    <p>Start Time: <%= task.start_time %></p>
    <p>End Time:<%= task.end_time %></p>
    <p>Title:<%= task.title %></p>
    <p>Description:<%= task.description %></p>
    <p>Screenshot of Output
        <%= image_tag task.screenshot, style: "max-width: 100px; max-height: 100px;" if task.screenshot.attached? %>
    </p>
    </div>
    <hr>
<% end %>

<p><%= link_to 'Return back', statuses_path %></p>
<p><%= link_to 'New Task', new_task_path(status_id: @status.id) %></p>