<div>
    <h2>Task</h2>
   <p>Start Time:<%= @task.start_time %></p> 
   <p>End Time:<%= @task.end_time %></p>
   <p>Title:<%= @task.title %></p>
   <p>Description:<%= @task.description %></p>
   <p>Screenshot:<%= image_tag @task.screenshot, style: "max-width: 100px; max-height: 100px;" %></p>
</div>